<!DOCTYPE html>
<html>
<head>
  <%- include('head.html') %>
  <title>修改文章</title>
  <script src="/dove-eee/libs/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="/dove-eee/release/edit.js"></script>
</head>
<body>
  <header>
    <%- include('edit-header.html', { headerTitle: '修改文章' }) %>
  </header>
  <main>
    <input type="hidden" id="articleId" value="<%= articleId %>">
    <%- include('edit-main.html') %>
  </main>
  <footer>
    <div class="uk-section uk-section-secondary uk-section-xsmall uk-text-center">
      <span>lvfd@acca.com.cn</span>
    </div>
  </footer>
</body>
</html>