<div class="uk-background-muted">
  <nav class="uk-navbar-container uk-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active">
          <a href="/dove-eee/main">
            <button class="uk-button uk-button-default">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: chevron-double-left"></span>返回主菜单
            </button>
          </a>
        </li>
      </ul>
    </div>
    <div class="uk-navbar-center">
      <a class="uk-logo" href="#">
        <span class="uk-icon uk-margin-small-right" uk-icon="icon: happy"></span><%= headerTitle %>
      </a>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li>
          <a href="#"><span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span><%= username %></a>
        </li>
        <li>
          <a href="/dove-eee/logout">
            <button type="button" id="logout" class="uk-button uk-button-default">
              <span class="uk-icon" uk-icon="icon: sign-out"></span>退出登录
            </button>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>