<div class="uk-background-muted">
  <nav class="uk-navbar-container uk-container" uk-navbar>
    <div class="uk-navbar-left">
      <a class="uk-logo" href="#">
        <span class="uk-icon uk-margin-small-right" uk-icon="icon: happy"></span>德文修
      </a>
      <ul class="uk-navbar-nav">
        <li class="uk-active">
          <a href="#">
            <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>dovePay
          </a>
        </li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li>
          <a href="#"><span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>dae</a>
        </li>
        <li>
          <a href="#">
            <button type="button" class="uk-button uk-button-default"><span class="uk-icon" uk-icon="icon: sign-out"></span>退出</button>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>