<!DOCTYPE html>
<html>
<head>
  <%- include('head.html') %>
  <title>德文修主页</title>
  <script src="/dove-eee/release/main.js"></script>
</head>
<body>
  <header>
    <%- include('header.html') %>
  </header>
  <main>
    <div class="uk-container">
      <table class="uk-table uk-table-divider" id="articleListTable">
        <caption class="uk-margin-top uk-margin-bottom">
          <a class="uk-button uk-button-primary" href="/dove-eee/main/new">新建</a>
        </caption>
        <thead>
          <tr>
            <th data-prop="id" hidden>ID</th>
            <th data-prop="title">文章标题</th>
            <th data-prop="author">作者</th>
            <th data-prop="editor">编辑者</th>
            <th data-prop="timeCreate">创建时间</th>
            <th data-prop="timeModify">修改时间</th>
            <th data-prop="hidden">显示状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody></tbody>  
      </table>
    </div>
  </main>
  <footer>
    <div class="uk-section uk-section-secondary uk-section-xsmall uk-text-center">
      <span>lvfd@acca.com.cn</span>
    </div>
  </footer>
</body>
</html>