<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>德文修主页</title>
   <link rel="stylesheet" href="/dove-eee/libs/uikit/css/uikit.min.css">
  <script src="/dove-eee/release/main.js"></script>
</head>
<body>
  <header>
    <%- include('header.html') -%>
  </header>
  <main>
    <div class="uk-container">
      <table class="uk-table uk-table-divider">
        <caption class="uk-margin-top uk-margin-bottom">
          <button class="uk-button uk-button-primary">新建</button>
        </caption>
        <thead>
          <tr>
            <th>文章标题</th>
            <th>作者</th>
            <th>编辑者</th>
            <th>创建时间</th>
            <th>上传时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody></tbody>  
      </table>
    </div>
  </main>
  <footer>
    <div class="uk-section uk-section-secondary uk-section-xsmall uk-text-center">
      <span>lvfd@acca.com.cn</span>
    </div>
  </footer>
</body>
</html>