<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>德文修主页</title>
   <link rel="stylesheet" href="/dove-eee/libs/uikit/css/uikit.min.css">
  <script src="/dove-eee/release/main.js"></script>
</head>
<body>
  <header>
    <div class="uk-background-muted">
      <nav class="uk-navbar-container uk-container" uk-navbar>
        <div class="uk-navbar-left">
          <a class="uk-logo" href="#">
            <span class="uk-icon uk-margin-small-right" uk-icon="icon: happy"></span>德文修
          </a>
          <ul class="uk-navbar-nav">
            <li class="uk-active">
              <a href="#">
                <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>dovePay
              </a>
            </li>
          </ul>
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <li>
              <a href="#"><span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>dae</a>
            </li>
            <li>
              <a href="#">
                <button type="button" class="uk-button uk-button-default"><span class="uk-icon" uk-icon="icon: sign-out"></span>退出</button>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="uk-container">
      <table class="uk-table uk-table-divider">
        <caption class="uk-margin-top uk-margin-bottom">
          <button class="uk-button uk-button-primary">新建</button>
        </caption>
        <thead>
          <tr>
            <th>文章标题</th>
            <th>作者</th>
            <th>编辑者</th>
            <th>创建时间</th>
            <th>上传时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody></tbody>  
      </table>
    </div>
  </main>
  <footer>
    <div class="uk-section uk-section-secondary uk-section-xsmall uk-text-center">
      <span>lvfd@acca.com.cn</span>
    </div>
  </footer>
</body>
</html>